/* Reset */
* {
    box-sizing: border-box;
}
body, h1, h2, figure, ul, li {
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: inherit;
}
abbr {
  text-decoration: underline;
}

/* Mobil First */

body {
    background-color:darkolivegreen;
    color: bisque;
}
 
.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
  h1{
    font-family: 'IM Fell English SC', serif;
    font-size: 3rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    color: rgb(68, 32, 20);
  }
  h2{
    font-family: 'IM Fell English SC', serif;
    color: rgb(68, 32, 20);
    margin-top: 1rem;
    padding-left: 43%;
    background-color:rgb(141, 156, 148); 
    border-bottom: solid bisque 1px;
  }
  h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
  }
  p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
  }



  header {
    display: flex;
    background-image: url(./assets/Captura\ de\ pantalla\ 2018-06-06\ a\ las\ 16.45.51.png);
    background-repeat: no-repeat;
    height: 300px;
    border-top: solid black 3px;
    justify-content: space-between;
    align-items: top center;
  }
    header nav {
      font-size: 2rem;
      color: darkolivegreen;
      padding-right: 1rem;
      padding-top: 1rem;
  }
    header nav a:hover {
      color: bisque;
  }
    nav ul {
      list-style: none;
  }
    nav.top{
      width: 100%;
      float: left;
      background-color: darkolivegreen;
      color: bisque;
      border-right: maroon 1px solid;
  }
    nav.top ul {
      list-style: none;
      margin: 0;
      padding: 0; 
      height: 4rem; 
      overflow: auto;
  }
    nav.top li {
      display: block;
      float: left;
      width: 18%;
  }
  nav.top li:not(:last-child) {
      margin-right: 2.5%;
  }
  nav.top a {
      text-decoration: none;
      font-family: 'IM Fell English SC', serif;
      font-size: 1rem;
      display: inline-block;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-top: 0.4rem;
      background-color:rgb(141, 156, 148);
      color: black;
      text-decoration: none;
      text-align: center;
      border: solid rgb(184, 41, 41) 2px;
      outline: solid beige 1px;
  }
  nav.top a:hover {
      color: bisque;
    }
  div.clearfix {
      clear: both;
  }



    .tablewrap{
      margin-left: auto;
      margin-right: auto;
      padding-left: 3rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 0.8rem;
    }
      table {
        float: left;
        font-size: 0.7rem;
        margin-bottom: 2rem;
      }
      .tablewrap ul{
        display: flex;
        list-style: none;
        padding-left: 2rem;
        padding-top: 8.5rem;
        flex-direction: column;
        /*align-content: flex-end;*/
      }
      .tablewrap li {
        align-self: stretch;
      }
      .tablewrap ul li:nth-child(1) {
        color:rgb(241, 178, 82) ;
      }
      .tablewrap ul li:nth-child(2) {
        color:rgb(243, 217, 71) ;
      }
      .tablewrap ul li:nth-child(3) {
        color:rgb(223, 102, 4) ;
      }
      .tablewrap ul li:nth-child(4) {
        color:rgb(30, 201, 87) ;
      }


      thead th{
        width: 2rem;
        height: 2rem;
      }
      .yellow {
        background-color: rgb(241, 178, 82);
      }
      .yelloish {
        background-color: rgb(243, 217, 71);
      }
      .siena {
        background-color: rgb(223, 102, 4);
      }
      .green{
        background-color: rgb(30, 201, 87);
      }
      td {
        width: 2rem;
        height: 2rem;
        text-align: center;
        font-size: 1rem;
      }


  nav.bottom {
    background-color: bisque;
    color: brown;
    border-top: solid brown 2px;
  }
  nav.bottom a {
    font-family: 'IM Fell English SC', serif; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    display: block;
    text-align: center;
  }
  nav.bottom a:hover {
    background-color:rgb(141, 156, 148);
    /*border-bottom: solid brown 1px;
    color: black;*/
    color: bisque;
  }
  footer {
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
  }

.email {
  color: bisque;
}
img {
    width: 100%;
}
img.lucha {
  display: none;
}

/*.intro:hover + .bird{
  display: block;
}*/

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  /*display: none;*/
}
.bird-container {
	position: absolute;
	top: 0%;
	left: 0%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
	animation-name: fly;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 1s;
}
@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
}
@keyframes fly {
  0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@media screen and (min-width: 650px) {
  header {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
        width: 80%; 
    }
    header nav {
        display: none;
    }
    h1 {
        font-size: 4rem;
        padding-left: 1rem;
    }
    nav.top a {
        font-size: 1.2rem;
    }
    nav.bottom {
        display: none;
   }
  }


@media screen and (min-width: 800px) {
  /*.headwrap{
    background-color: black;
  } 
  */ 
  .wrapper {
       max-width: 1000px;
    }
    h1 {
        font-size: 4rem;
        padding-left: 2rem;
      }
      .tablewrap ul{
        flex-direction: row;
        }  
   img {
        /*display: block;*/
        width: 100%;
        /*margin-left: auto;
        margin-right: auto;*/
    }
    .image {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    img.lucha {
      display: inline-block;
      width: 50%;
      max-width: 140px;
    }
    .tablewrap ul{
      padding-top: 10.3rem;
    }
      .intro {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .intro>p {
      padding: 1rem;
    }
    .historia {
      display: block;
      float: left;
      width: 50%;
      padding: 1rem;
      text-align: center;
    }

    }